
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mvc Sample Application</title>
</head>
<body>

    @{Html.RenderPartial("_Header");}

    <section style="height: 500px; border: 1px solid black">
        @RenderBody()
    </section>

    @{Html.RenderPartial("_Footer");}
</body>
</html>
